
@{
    ViewData["Title"] = "DisplayInfo";
}

<h1>DisplayInfo</h1>

@model Lab18CoffeeShop.Models.RegisterUser

<p> @Model.UserName</p>
<p> @Model.Email</p>
<p> @Model.Password</p>
<p> @Model.PhoneNumber</p>
<p> @Model.NickName</p>
<p> @Model.ZipCode</p>

