
@{
    ViewData["Title"] = "Registration";
}

<h1 class="head">Please Register Down Below </h1>




@model Lab18CoffeeShop.Models.RegisterUser


@Html.ValidationSummary()


<form asp-action="Registration" asp-controller="Home" method="post" class="border-dark">
    
    

    <div class="col-5">
      
        <select class="form-control" id="StudentGender" name="Male/Female">
            <option>Select Gender</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br/>

    </div>
   
    <div class="col-1">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @*UserName: <input type="text" name="UserName" value="@Model.UserName" placeholder="@Model.UserName" />*@
        @Html.ValidationMessageFor(m => m.UserName)<br />



    </div>
    <div class="col-1">
        Email:  <input type="text" name="Email" value="@Model.Email" placeholder="@Model.Email" />
        @Html.ValidationMessageFor(m => m.Email)<br />


    </div>
    <div class="col-1">
        Password:<input type="password" name="Password" value="@Model.Password" placeholder="@Model.Password" />

        @Html.ValidationMessageFor(m => m.Password)


    </div>
    <div class="col-1">
        PhoneNumber:<input type="number" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="@Model.PhoneNumber" />
        @Html.ValidationMessageFor(m => m.PhoneNumber)<br />


    </div>
    <div class="col-1">
        ZipCode: <input type="number" name="ZipCode" value="@Model.ZipCode" placeholder="@Model.ZipCode" />
        @Html.ValidationMessageFor(m => m.ZipCode)<br />

    </div>

    <div class="col-1">
        NickName:<input type="text" name="NickName" value="@Model.NickName" placeholder="@Model.NickName" />
        @Html.ValidationMessageFor(m => m.NickName)<br />

    </div>

    <div class="col-1">
        <input type="submit" value="Add Info" />
    </div>

</form>
}

<style>
    body {
        background-image: url(https://www.sciencenews.org/sites/default/files/main/articles/100315_coffee_opener_NEW_0.jpg);
        background-size: cover;
    }


    .one {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 16px;
    }

    .two {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 16px;
    }

    .three {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 16px;
    }

    .four {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 16px;
    }

    .five {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 16px;
    }

    .head {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .col-1{
         font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 16px;
    }
    .col-5{

    }
</style>