
@{
    ViewData["Title"] = "Registration";
}

<h1 class="head">Please Register Down Below </h1>




@model Lab18CoffeeShop.Models.RegisterUser

@using (var form = Html.BeginForm())
 {
    <div class="one">

        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-input", placeholder = "User Name" })
    </div>

    <div class="two">

        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-input", placeholder = "Email" })
    </div>



    <div class=" three">

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-input", placeholder = "Password" })
       

    </div>


    <input type="submit" value="Submit" />
 }

<style>
    body
    {
        background-image:url(https://www.sciencenews.org/sites/default/files/main/articles/100315_coffee_opener_NEW_0.jpg);
            background-size:cover;
       
    }


    .one{
        font-family: Arial, Helvetica, sans-serif;
       
        color: white;
        font-size: 16px;
    }
    .two{
        font-family: Arial, Helvetica, sans-serif;
     
        color: white;
        font-size: 16px;
    }

    .three{
        font-family: Arial, Helvetica, sans-serif;
       
        color: white;
        font-size: 16px;
    }
    .head{
        font-family: Arial, Helvetica, sans-serif;
       
        color: white;
    
    }
</style>